.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1057;
    justify-items: center;
    text-align: center;
    margin-top: 16px;
    border: 1px solid black;
    padding: 36px 120px;
}

.header-container .header-nav ul{
    display: flex;
    width: 356px;
    justify-content: space-between;
}

.header-nav li{
    list-style: none;
}
.header-nav li a{
    text-decoration: none;
}
.header-nav li a:hover{
    background-color: aqua;
}
.header-container .header-button .btn1{
    width: 164px;
    padding: 12px;
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.header-button .btn1:hover{
    background-color: brown;
}
.section{
    max-width: 1600px;
    margin-top: 20px;
    padding: 115.5px 120px 220px;
    background-image: url("/assets/hero-bg.png");
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section .section-container .info{
    padding: 0px 295px;
}
.section .section-container .info h2{
    font-size: 50px;

}
.section .section-container .info p{
    margin-top: 16px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}
.section .section-container .info button{
    padding: auto;
    width: 229px;
    height: 35px;
    font-size: 15px;
    color: #469165;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.info button:hover{
    background-color: yellowgreen;
}

.section-container .button{
    
    margin-top: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.button .button-1:hover{
    background-color:brown;
}
.button .button-2:hover{
    background-color: brown;
}
.button .button-1{
    width: 251px;
    height: 52px;
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.button .button-2{
    width: 198px;
    height: 52px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    gap: 8px;

}
.main-card .card .img-wrap{
    width: 60px;         
    height: 60px;
    background-color: red;
    border-radius: 50%;     
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-card .card .img-wrap img{
    width: 32px;
    height: 32px;
   
   
}
.main-section .main-container{
    width: 1360px;
    height: 152px;
    text-align: center;
    margin: 0px 120px;
}
.main-section .main-container h2{
    font-size: 48px;
    font-weight: bold;
    text-align:center;
}
.main-section .main-container p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.main-section .main-card{
    width: 1360px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 44px 120px 94px;
    gap: 24px;
    text-align: center;
}
.main-card .card{
    width: 348px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404)
    
}
.main-card .card h3{
    font-size: 24px;
    font-weight: 600;
}
.main-card .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
