.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1057;
    justify-items: center;
    text-align: center;
    margin-top: 16px;
    border: 1px solid black;
    padding: 36px 120px;
}

.header-container .header-nav ul{
    display: flex;
    width: 356px;
    justify-content: space-between;
}

.header-nav li{
    list-style: none;
}
.header-nav li a{
    text-decoration: none;
}
.header-nav li a:hover{
    background-color: aqua;
}
.header-container .header-button .btn1{
    width: 164px;
    padding: 12px;
    color: white;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.section{
    max-width: 1600px;
    margin-top: 20px;
    padding: 115.5px 120px 220px;
    background-image: url("/assets/hero-bg.png");
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section .section-container .info{
    padding: 0px 295px;
}
.section .section-container .info h2{
    font-size: 40px;

}
.section .section-container .info p{
    margin-top: 16px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}